!formalism/tasks.pdf
*.aux
*.bbl
*.blg
*.dvi
*.egg-info*
*.end
*.ipynb_checkpoints
*.ipynp
*.log
*.out
*.pdf
*.pyc
*.synctex.gz
*.toc
*Notes.bib
*~
.coverage
.idea
OpenQML_PQ.egg-info
build
coverage_html_report/*
dist
doc/_build
doc/_ext
notebooks/*
openqml_pq/__pycache__
qit.egg-info
tests/__pycache__
